@font-face {
    font-family: 'Modern Antiqua';
    font-style: normal;
    font-weight: 400;
    src: url('./Modern-Antiqua.woff2') format('woff2');
}
@font-face {
    font-family: '青柠幼圆';
    font-style: normal;
    font-weight: 400;
    src: url('./qingningyouyuan.ttf') format('truetype');
    /* src: url('./qingningyouyuan.ttf'); */
}
