* {
    padding: 0;
    margin: 0;
}

body {
    box-sizing: border-box;
    padding: 10px;
}

.word {
    position: relative;
    width: 250px;
    height: 250px;
    text-align: center;
    line-height: 250px;
    font-family: cursive, "幼圆", serif;
    font-size: 220px;
    font-weight: bold;
    color: #333;
}

.word .temp {
    position: relative;
}

.word::before,
.box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .3;
}

.word::before {
    background: url(./tzg-green.svg) no-repeat center center;
    background-size: contain;
}

.box::before {
    background: url(./tzg-pink.svg) no-repeat center center;
    background-size: contain;
}

.word .word_gif {
    border: none;
    vertical-align: top;
    width: 100%;
}

.word .temp {
    display: none;
}

.search_wrap {
    position: relative;
    z-index: 3;
    width: 250px;
    height: 40px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, .12);
    margin-top: 10px;
    border-radius: 6px;
    overflow: hidden;
}

.search_wrap .inp {
    flex: auto;
    height: 100%;
    border: none;
    outline: none;
    box-sizing: border-box;
    padding: 0 10px;
    text-align: center;
}

.search_wrap .search {
    width: 80px;
    height: 100%;
    text-align: center;
    line-height: 40px;
    background-color: pink;
    font-size: 18px;
    letter-spacing: 2px;
    user-select: none;
    cursor: pointer;
    color: #fff;
}

.box {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 300px;
    height: 300px;
}

.box::after {
    content: "这里写字哦~";
    position: absolute;
    z-index: 1;
    top: -30px;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #80bc9b;
    text-shadow: 0px 2px 2px pink;
}

.box canvas {
    position: relative;
}

.box .track {
    position: absolute;
    z-index: 1;
    top: 300px;
    left: 50%;
    transform: translateX(-50%);
    width: 368px;
    height: 40px;
    background-color: rgba(255, 192, 203, .3);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.track .container {
    position: relative;
    width: 360px;
    height: 32px;
    border-radius: 16px;
    display: flex;
}

.container .bar {
    height: 100%;
    min-width: 30px;
}

.bar.bar1 {
    width: 30px;
    border-radius: 16px 0px 0px 16px;
    background-color: #fff;
}
.bar.bar2 {
    flex: auto;
    border-radius: 0 16px 16px 0;
}

.clear {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 60px;
    height: 32px;
    border-radius: 16px;
    background-color: #fff;
    box-shadow: inset 0 0 10px 2px rgb(0 150 136 / 30%);
    text-align: center;
    line-height: 32px;
    font-size: 12px;
    color: #009688;
    letter-spacing: 2px;
    user-select: none;
    cursor: grab;
}

.clear .line {
    position: absolute;
    z-index: 1;
    bottom: 36px;
    left: 50%;
    transform: translateX(-50%);
    width: 1px;
    height: 300px;
    background-color: rgba(255, 192, 203, .3);
}

.box .share {
    position: absolute;
    z-index: 1;
    top: 0;
    right: -35px;
    width: 30px;
    height: 100%;
    writing-mode: vertical-lr;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    color: #fff;
    letter-spacing: 2px;
    user-select: none;
}

.share span {
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 0 6px;
    background-color: pink;
    border-radius: 6px;
    cursor: pointer;
}

.share span:hover {
    box-shadow: inset 0 0 8px 12px rgba(255, 255, 255, .3);
}

.dialog {
    position: fixed;
    z-index: 12;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.dialog .mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
}

.mask .mask_inner {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
}

.dialog .work_img {
    position: relative;
    width: 300px;
    height: 300px;
}

.dialog .work {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    vertical-align: top;
}

.dialog .work_img::after {
    content: "------ 长按或右击保存图片 ------";
    position: absolute;
    z-index: 1;
    bottom: -25px;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: #9e9e9e;
}

@media screen and (max-width: 1080px) {
    body {
        padding: 0;
    }

    .word {
        width: 60rem;
        height: 60rem;
        line-height: 60rem;
        font-size: 56rem;
        margin: auto;
    }

    .search_wrap {
        display: flex;
        align-items: center;
        width: 60rem;
        height: 10rem;
        box-shadow: 0 0 1.4rem 0.6rem rgba(0, 0, 0, .12);
        margin: auto;
        margin-top: 1.5rem;
        border-radius: 1.4rem;
    }

    .search_wrap .inp {
        width: 42rem;
        padding: 0 2.4rem;
        font-size: 4rem;
    }

    .search_wrap .search {
        width: 18rem;
        height: 100%;
        line-height: 10rem;
        background-color: pink;
        font-size: 4.2rem;
        letter-spacing: 0.8rem;
    }

    .box {
        position: relative;
        z-index: 2;
        margin: auto;
        margin-top: 9rem;
        width: 60rem;
        height: 60rem;
    }

    .box::after {
        top: -6.4rem;
        font-size: 4.2rem;
        text-shadow: 0px 0.4rem 0.4rem pink;
    }

    .box .track {
        top: 60rem;
        width: 80rem;
        height: 12rem;
        border-radius: 6rem;
    }

    .track .container {
        width: 78rem;
        height: 10rem;
        border-radius: 5rem;
    }
    
    .container .bar {
        min-width: 9rem;
    }
    
    .bar.bar1 {
        width: 9rem;
        border-radius: 5rem 0 0 5rem;
    }
    .bar.bar2 {
        flex: auto;
        border-radius: 0 5rem 5rem 0;
    }
    
    .clear {
        width: 18rem;
        height: 100%;
        border-radius: 5rem;
        box-shadow: inset 0 0 1.6rem 0.6rem rgb(0 150 136 / 30%);
        line-height: 10rem;
        font-size: 3.8rem;
        letter-spacing: 0.4rem;
    }

    .clear .line {
        bottom: 11rem;
        width: 0.4rem;
        height: 60rem;
        background-color: rgba(255, 192, 203, .2);
    }
    
    .box .share {
        right: -9rem;
        width: 8rem;
        line-height: 8rem;
        font-size: 3.6rem;
        letter-spacing: 0.8rem;
    }
    
    .share span {
        padding: 1.6rem 0 1.2rem;
        border-radius: 1rem;
    }
    
    .share span:hover {
        box-shadow: inset 0 0 1rem 2rem rgba(255, 255, 255, .3);
    }

    .dialog {
        gap: 1.2rem;
    }

    .dialog .work_img {
        position: relative;
        width: 60rem;
        height: 60rem;
    }
    
    .dialog .work_img::after {
        bottom: -5rem;
        font-size: 2.6rem;
    }
}